/* Estilo Calenario */

input[type="radio"] {
    display: none;
}
input[type="radio"]:checked + label {
    border: 1px solid red;
}

.radioAlerta{
	display: block !important;
	opacity: 1 !important;
}

input[type=checkbox].ace.ace-checkbox-2:checked + .lbl::before,
input[type=radio].ace.ace-checkbox-2:checked + .lbl::before {
  background-color: #428BCA;
  border-color: #428BCA;
  color: #FFF;
}

.titulo-caja{
	background-color: #438EB9;
	color: #fff !important;
	text-decoration: none;
}

a:-webkit-any-link {
	text-decoration: none;
}

.ui-grid-cell-contents{
	text-align: center !important;
}

.color-blanco{
	color: #fff;
}

.color-rojo{
	color: #000;
}

.contenido{
	background-color: red;
}

.calendario{
	padding: 20px 20px 20px 20px;
}

.titulo-anho{
	text-align: right;
	font-weight: bold;
	color: blue;
}

.titulo-mes{
	font-weight: bold;
	color: blue;
}

.caja-dia{
	background-color: #fff;
	border-radius: 5px;
	margin: 0.5px;
	box-shadow: inset 0px 0px 1px 1px #888888;
	height: 80px;
}

.header-calendario{
	margin-left: 35px;
	margin-right: 0px;
	border-bottom: 2px solid #eee;
	margin-bottom: 10px;
	padding: 0px 0px 0px 40px;
}

.imagen-izquierda{
	z-index: 0;
	margin-top: -75px;
	width: 100%;
	height: 620px
}

.caja-obra{
	width: 100%;
	text-align: center;
}

.imagen-derecha{
	z-index: 1;
	margin: -50px auto;
	background-color: rgba(63, 63, 68, 0.56);
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	opacity: 0.9;
	position: relative;
	border-radius: 10px;
	width: 90%;
	height: 200px;
}

.tema-obra{
	z-index: 0;
    margin-top: 30px;
	position: relative;
}

.fondo-derecha{
	background-size: 100% 620px;
	background-image: url('../img/derecha/fondo-base-obras.png');
	background-repeat: no-repeat;
}

.fondo-izquierda{
	display: block;
}

.vaso{
	margin-top: 60px;
	z-index: 0;
}

.pie-vaso{
	padding-top: 20px;
}

.caja-externa{
	z-index: 1;
	opacity:0.9;
	margin-top: -220px;
	margin-right: 40px;
	padding-bottom: 40px;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
    height: 250px;
	background-image: url('../img/izquierda/pie.png');
	background-repeat: no-repeat;
	background-size: 100%, 250px;
}

.tema{
	color: #1AB7F0;
	font-weight: bold;
	padding-left: 20px;
	padding-top: 5px;
}

.caja-mensaje{
	-webkit-transform: rotate(-2deg);
	color: #fff;
	opacity:0.9;
	margin-right: 50px;
}


.temas{
	padding-top: 20px;
	padding-right: 10px;
	text-transform: uppercase;
	float: right;
	font-family: "Roboto Condensed";
	font-weight: bold;
}

.logo{
	padding-top: 5px;
	float: left;
}

.titulo-logo{
	padding-left: 10px;
	text-align: left;
	color: rgba(0,169,186,1);
}

.navbar{
	padding-bottom: 6px;
	background-color: rgba(254,254,254,1);
	border-bottom: 1px solid rgba(0,175,234,1);
}

footer{
	position: relative;
	bottom: 0 !important;
	bottom: -1px;
	width: 100%;
}
.eventos{
	padding-top: 20px;
}

.widget-box.no-border{
	border-width: thin;
}

.icon-uno {
    color: #FB030D;
}

.icon-dos {
    color: #2006E6;
}

.icon-tres {
    color: #F7A306;
}

.icon-cuatro {
    color: #06F10F;
}

.pestanha{
	float: left;
	padding-left: 5px;
	display: block;
}

.cal-month-day,  .cal-day-inmonth, .cal-day-past{
	box-shadow: 2px 2px 2px #888888;
	background-color: #ffffff;
}

.cal-month-box{
	border: 0px;
}

.fondo-blanco{
	background-color: #fff;
	height: 100%;
}

#piedepagina{
	bottom: -1px;
	bottom: 0 !important;
	position: absolute;
	width: 100%;
	background: #ffffff;
}

.caja-flechas{
	padding-top: 20px;
}

.caja-mes-semana-dia{
	padding-top: 30px;
}

.btn-mes-semana-dia{
	border-radius: 5px 5px 0px 0px;
	background-color: rgba(0,175,234,1) !important;
	border-color: rgba(0,175,234,1);
}

.btn-mes-semana-dia.active, .btn-mes-semana-dia:focus{
	background-color: rgba(0,175,234,1) !important;
    border-color: rgba(0,175,234,1);
}
.titulo-fecha{
	color: rgba(0,175,234,1);
}

.cal-day-today{
	background: #FFC;;
}

.profile-user-info-striped .profile-info-name{
	vertical-align: top;
}

.archivo-arriba{
	vertical-align: top;
}

.maxIzquierda{
	height: 35px;
	width: 35px;
	background-size: 35px 35px;
	background-image: url('../img/iconos/boton maximizar azul.png');
	/*margin-top: 40px;
    margin-left: 75px;*/
    margin: 40px auto auto auto;
    z-index: 1;
    opacity: 0.9;
    cursor: pointer;
}

.minIzquierda{
	height: 35px;
	width: 35px;
	background-size: 35px 35px;
	background-image: url('../img/iconos/boton minimizar turquesa.png');
	margin-top: 20px;
    margin-left: 230px;
    z-index: 1;
    opacity: 0.9;
    cursor: pointer;
}

.imagenMaxIzquierda{
	z-index: 0;
	margin-top: -55px;
}

.caja{
	overflow: hidden;
	z-index: 2;
    margin-top: -100px;
    width: 350px;
    height: 100px;
}

.mensajeIzquierda{
	-webkit-transform: rotate(6deg);
    color: #06087D;
    padding-left: 70px;
    margin-left: -40px;
    opacity: 0.7;
    width: 350px;
    border-radius: 20px;
    margin-top: 25px;
    border-color: #A5FFE1;
    border: 1px solid #6F7BB3;
    height: 100px;
    margin-right: 50px;
    background-color: #ffffff;;
}

.mensaje{
	-webkit-transform: rotate(-6deg);
	padding-top: 5px;
	font-weight: bold;
	padding-right: 50px;
}

.contenido-imagenDerecha{
	background-color: #E6E7E8;
    border-radius: 10px;
}

.maxDerecha{
	height: 35px;
    background-image: url('../img/iconos/boton maximizar azul.png');
    background-repeat: no-repeat;
    background-size: 35px 35px;
    cursor: pointer;
    float: right;
    margin-right: 30px;
    margin-top: 25px;
    opacity: 0.9;
    position: relative;
    width: 35px;
    z-index: 2;
}

.minDerecha{
	float: right;
    padding-right: 50px;
	height: 35px;
    width: 35px;
    background-size: 35px 35px;
    background-image: url('../img/iconos/boton minimizar turquesa.png');
    background-repeat: no-repeat;
    margin-top: 20px;
    z-index: 1;
    opacity: 0.9;
    cursor: pointer;
}

.imagenMaxDerecha{
	z-index: 0;
	margin-top: 20px;
	padding-left: 50px;
}

.pieImagenDerecha{
	background-image: url('../img/iconos/imagenPie.png');
    background-repeat: no-repeat;
    background-size: 100px 100px;
    margin-left: 30px;
    width: 500px;
    height: 100px;
    padding-left: 120px;
}

.temaObra{
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 15px;
}

.autorObra{
	margin-top: -13px;
}

.mensajeObra{
	text-transform: uppercase;
	font-weight: bold;
	color: #28B910;
}

.imagenVista {
    max-width: 200px;
    max-height: 400px;
    margin-left: -35px;
}

.modal-content{
	border-radius: 10px;
}

.modal-footer{
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.fc-next-button{
	background-size: cover;
	background-image: url('../img/iconos/boton derecha.png');
	background-repeat: no-repeat;
}

button[type="button"].fc-prev-button{
	text-align: center;
	background-size: 26px 26px;
    background-repeat: no-repeat;
	background-image: url('../img/iconos/boton Izquierda.png');
	background-color: transparent;
}

button[type="button"].fc-next-button{
	text-align: center;
	background-size: 26px 26px;
    background-repeat: no-repeat;
	background-image: url('../img/iconos/boton derecha.png');
	background-color: transparent;
}

button[type="button"].fc-state-hover{
	background-position-x: 0px;
    background-position-y: 0px;
}

.fc-toolbar{
	margin-bottom: 0em;
}

.fc-right{
	padding-top: 1em;
}

button[type="button"].fc-month-button, button[type="button"].fc-agendaDay-button{
	background: -webkit-linear-gradient(rgb(0, 168, 185), rgb(138, 215, 222));
	background: -moz-linear-gradient(rgb(0, 168, 185), rgb(138, 215, 222));
	background: -o-linear-gradient(rgb(0, 168, 185), rgb(138, 215, 222));
	border-top-left-radius: 4px !important;
	border-top-right-radius: 4px !important;
	padding-left: 15px;
	padding-right: 15px;
	color: #fff;
}

button[type="button"].fc-agendaWeek-button{
	background: -webkit-linear-gradient(rgb(0, 168, 185), rgb(138, 215, 222));
	background: -moz-linear-gradient(rgb(0, 168, 185), rgb(138, 215, 222));
	background: -o-linear-gradient(rgb(0, 168, 185), rgb(138, 215, 222));
	border-top-left-radius: 4px !important;
	border-top-right-radius: 4px !important;
	padding-left: 15px;
	padding-right: 15px;
	color: #fff;
}
/*Imagenes del Banner*/

.banner{
	padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
	height: 135px;
	background-color: #fff;
	border-bottom-style: ridge;
}

.img-banner{
}

.logo-empresa{
	padding: 10px;
}

.logo-10-anhos{
	padding: 10px;
}

.lema-calendario{
	padding: 10px;
}

.logo-calidad{
	padding-top: 25px;
	padding-right: 40px;
	padding-bottom: 40px;
}

.esquina-izquierda{
	float: left;
	padding-left: 0px;
}

.esquina-derecha{
	float: right;
	text-align: -webkit-right;
	text-align: -moz-right;
    padding-right: 0px;
}

.icono-vista-previa{
	float: right;
	margin-top: -50px;
}

.icono > .fc-content > .fc-time, .icono > .fc-content > .fc-title{
	display: none;
}

.icono{
	float: right;
	vertical-align: bottom;
	width: 20px;
	height: 20px;
}

.icono > .abajo{
	float: left;
	vertical-align: bottom;
	width: 20px;
	height: 20px;
}

.imagenIconoBase{
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-color: transparent !important;
	margin-top: 24px !important;
}

.imagenIcono{
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-color: transparent !important;
}

.nombre-icono{
	padding-left: 25px;
    padding-top: 25px;
}

.modal-img-izquierda{
	background-color: transparent;
}

.modal-open, .modal{
	background-color: rgba(255, 255, 255, 0.60);
}

.modal-md{
	width: 500px !important;
}

.modal-sm{
	width: 300px !important;
}

/*Caja de Busqueda*/
.caja-busqueda{
	margin-top: -10px;
	height: 40px;
	width: 100%;
}

.b-titulo{
	float: left;
	font-size: 20px;
}

.b-check{
	float: left;
	padding-left: 20px;
}

.ocultarEvento{
	display: none;
}
/*Imagenes derecha*/

/*Autocomplete*/

.suggestion-list{
	position: absolute;
	list-style-type: none;
	margin: 0 0 0 0px;
	padding: 0;
}

.suggestion-list li{
	color: #000000;,
	cursor: pointer;
	opacity: 1;
	height: 40px;
    background: #DDEBF9;
	border-bottom: 1px solid #eeeeee;
	width: 350px;
}

.suggestion-list li:hover{
	background: #eeeeee;
}

.suggestion-list li.active,
.suggestion-list li.active{
	color: #ffffff;
	background: #0099ff;
	width: 350px;
}

.caja-invitados{
	font-size: 14px;
	width:70%;
	padding-left: 15px;
}


.boton-notificacion{
	background-color: #892E65;
    border: 1px solid #892E65;
    padding-left: 10px;
    padding-right: 10px;
}

.nuevo-evento-usuario{
	padding: 0px 40px 0px 40px;
}

.obligatorio{
  color: red !important;
  float: left;
  padding-right: 5px;
}
/*
.fc-row.fc-week.fc-widget-content{
	height: 90px !important;
}

td.fc-widget-content{
	height: 540px !important;
	}*/

/*.cal-row-head [class*=cal-cell]{
	border-color: #BCD4E5;
	border-style:
}*/


/*.cal-slide-content{
	background-color: rgba(0,169,186,1);
}*/


@media screen and (max-width: 1199px) {
	.logo-calidad{
		display: none;
	}
}

@media screen and (max-width: 991px) {
    .calendario {
    	padding-top: 90px;
		margin-left: 0px;
    }
   .logo{
		display: none;
	}
	.fondo-derecha{
		display: none;
	}
	.fondo-izquierda{
		display: none;
	}
	.img-banner{
		display: none;
	}
	.logo-calidad{
		display: none;
	}
}

@media screen and (max-width: 468px) {
	.calendario {
    	padding-top: 30px;
		margin-left: 0px;
    }

    .caja-externa{
    	font-size: 12px;
    	margin-top: -130px;
    	margin-right: 20px;
    }

	.lema-calendario{
		display: none;
	}

	.titulo-logo{
		text-align: center;
	}

	.pestanha{
		display: none;
	}
}
