<div id="navbar" class="navbar navbar-default">
	<div class="navbar-container" id="navbar-container">
		<div class="navbar-header pull-left cabecera">
			<!-- #section:basics/navbar.layout.brand -->
			<a href="#" class="navbar-brand" rel="home" href="#" title="Aguas Kapital C&uacute;cuta">
				<small class="titulo-logo">
					<img class="logo" style="max-width:100px; margin-top: -7px;" src="img/LOGO AKC.png">
					Calendario Virtual AKC
				</small>
			</a>
		</div>

		<!-- #section:basics/navbar.dropdown -->
		<div class="navbar-buttons navbar-header pull-right" role="navigation">
			<ul class="nav ace-nav">
				<!-- #section:basics/navbar.user_menu -->
				<li class="light-blue">
					<div class="btn-group" uib-dropdown is-open="status.isopen">
				      <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
				      	<img class="nav-user-photo" src="avatars/avatar2.png" alt="Jason's Photo" />
				      	<span class="user-info">
							<small class="bienvenido">Bienvenido,</small>
							Administrador
						</span>
				        <i class="ace-icon fa fa-caret-down"></i>
				      </button>
				      <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
				        <li role="menuitem">
				        	<a href="#">
				        		<i class="ace-icon fa fa-user"></i>
									Perfil
							</a>
						</li>
						<li class="divider"></li>
				        <li role="menuitem">
				        	<a href="#">
				        		<i class="ace-icon fa fa-power-off"></i>
				        		Cerrar Sesión
							</a>
				        </li>
				      </ul>
				    </div>
				</li>
			</ul>
		</div>
	</div>
</div>