<span style="text-align: center;"><h3>Menú</h3></span>
<ul class="nav nav-list">
	<li class="active highlight">
		<a ng-click="isCollapsed = !isCollapsed">
			<i class="menu-icon fa fa-calendar"></i>
			<span class="menu-text"> Calendario Virtual</span>
			<b class="arrow fa fa-angle-down"></b>
		</a>
		<b class="arrow"></b>
		<ul class="submenu" uib-collapse="isCollapsed">
			<li class="">
				<a href="#/admin" class="dropdown-toggle">
					<i class="menu-icon fa fa-caret-right"></i>
						Administración
				</a>
			</li>
		</ul>
	</li>
</ul>