<div>
    <div class="modal-header">
        <h3 class="modal-title">Eliminar..!!</h3>
    </div>
    <div class="modal-body">
        ¿Desea Eliminar el Registro?
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="Eliminar()">Si</button>
        <button class="btn btn-warning" type="button" ng-click="Cancelar()">No</button>
    </div>
</div>
