<span style="text-align: center;"><h3>Menú</h3></span>
<ul class="nav nav-list">
	<li class="active highlight">
		<a href="#/usuario">
			<i class="menu-icon fa fa-home"></i>
			<span class="menu-text"> Inicio</span>
		</a>
		<b class="arrow"></b>
	</li>
	<li class="active highlight">
		<a href="#/usuario/calendario">
			<i class="menu-icon fa fa-calendar"></i>
			<span class="menu-text"> Calendario</span>
		</a>
		<b class="arrow"></b>
	</li>
</ul>